<form action="/<%= action %>" method="<%= method %>" class="form">
  <%- include( 'input', { type: 'text', name: 'user', placeholder: 'Name', icon: 'user' } ) %>

  <%- include( 'input', { type: 'email', name: 'email', placeholder: 'Email', icon: 'email' } ) %>

  <div class="form__item">
    <textarea id="msg" class="form__msg" cols="30" rows="10" placeholder="Message..."></textarea>
  </div>

  <div class="form__item">
    <button type="submit" class="form__btn">
      <%- include( 'button', { ref: '', content: 'Send<i class="fas fa-arrow-right form__btn-icon"></i>', extraClasses: 'button--maximized button--rounded' } ) %>
    </button>
  </div>
</form>