<section id="products" class="products">
  <%- include( 'product', {
    title: 'Bioimpedância',
    category: 'Categoria',
    description: 'Breve descrição e link para compra'
  }) %>

  <%- include( 'product', {
    title: 'EEG',
    category: 'Eletroencefalôgrafo',
    description: 'Breve descrição e link para compra'
  }) %>

  <%- include( 'product', {
    title: 'Hórus',
    category: 'Actígrafo',
    description: 'Breve descrição e link para compra'
  }) %>

  <%- include( 'product', {
    title: 'NIRS',
    category: 'Categoria',
    description: 'Breve descrição e link para compra'
  }) %>

  <%- include( 'product', {
    title: 'Oxígrafo',
    category: 'Categoria',
    description: 'Breve descrição e link para compra'
  }) %>

  <%- include( 'product', {
    title: 'Plataforma de Força',
    category: 'Categoria',
    description: 'Breve descrição e link para compra'
  }) %>
</section>