<div class='options__wrapper'>
  <h1 class='options__title'><%= title %></h1>
  <%- include( 'divisor' ) %>
  <p class='options__description'><%= description %></p>
  <form class='options__form'>
    <% options.forEach( o => { %>
      <label class='options__option'>
        <input type='checkbox' class='options__input'>
        <span class='options__checkbox'></span>
        <%= o.text %>
        <p class='options__subtext'><%= o.subtext %></p>
      </label>
    <% }); %>
    <%- include( 'link', { id: 'options_send', ref: '', content: 'Check Out<i class="fas fa-shopping-cart icon"></i>', extraClasses: 'link--maximized' } ) %>
  </form>
</div>