<div class="textarea__wrapper">
  <textarea name="<%= name %>" class="textarea <%= extraClasses %>" cols="<%= cols %>" rows="<%= rows %>" placeholder="<%= placeholder %>"><%= content %></textarea>
</div>