<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>

  <main>
    <%- include('partials/hero') %>

    <%- include('partials/products') %>
  </main>

  <%- include('partials/cloud') %>

  <%- include('partials/carousel') %>

  <%- include('partials/zeitgeber') %>

  <footer>
    <%- include('partials/contact') %>

    <%- include('partials/copyright') %>
  </footer>

  <script src="/js/index.js"></script>
</body>
</html>