<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include( '../partials/head', {
    pageTitle: 'Zeitgeber Store',
    stylesFilename: 'product'
  }) %>
</head>
<body>
  <header class="header">
    <%- include( '../partials/logo', {
      ref: '/',
      src: '/img/t4p-light.svg',
      alt: 'Tech4People'
    }) %>

    <%- include( '../partials/menu', {
      elements: [
        { ref: '#', content: 'Product' },
        { ref: '#description', content: 'Description' },
        { ref: '#contact', content: 'Contact' },
        { ref: 'https://t4p.com.br/tech4people', content: 'About Us' }
      ]
    }) %>
  </header>

  <main class="main">
    <%- include('../partials/purchase') %>
    <%- include('info_template') %>
  </main>

  <footer class="footer">
    <%- include('../partials/contact') %>

    <%- include('../partials/copyright') %>
  </footer>

  <%- include('../partials/scripts', { scriptFilename: 'product' } ) %>
</body>
</html>