<!DOCTYPE html>
<html lang='pt-BR'>

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Zeitgeber Store',
    stylesFilename: 'product'
  }) %>
</head>

<body>
  <header class='header'>
    <%- include( '../components/logo', {
      ref: '/',
      src: '/img/t4p-dark.svg',
      alt: 'Tech4People'
    }) %>

    <%- include( '../components/menu', {
      elements: [
        { ref: '#', content: 'Purchase' },
        { ref: '#description', content: 'Description' },
        { ref: '#contact', content: 'Contact' },
        { ref: 'https://t4p.com.br/tech4people', content: 'About Us' }
      ]
    }) %>
  </header>

  <main class='main'>
    <%- include( '../components/purchase', {
      images: productImages.map(({ image }) => image),
      title: `${productInfo.name} - ${productInfo.category}`,
      description: productInfo.optionsDescription,
      options: productOptions
    }) %>

    <%- include( '../components/product_info', {
      title: 'Description',
      // content: productInfo.productDescription.split('\n').map(c => c.replace(/\n/g, '').trim()),
      // bullets: productInfo.productBullets.split('\n').map(c => c.replace(/\n/g, '').trim()),
      // tableHeaders: productInfo.productTable.split('\n')[0].replace(/\n/g, '').trim().split(';'),
      // tableRows: productInfo.productTable.split('\n').map(c => c.replace(/\n/g, '').trim()),
      content: [
        `A bioimpedância ou bioimpedanciometria é um método de avaliação da composição corporal, através deste teste é possível estimar 
        a quantidade de tecido muscular, tecido adiposo e ósseo de uma determinada parte do corpo. Possibilita também estimar a quantidade 
        de água presente no corpo. O equipamento funciona por meio da passagem de uma corrente elétrica imperceptível pelo corpo, esta 
        corrente circula livremente entre o líquido do tecido muscular, mas depara-se com a resistência do tecido adiposo (gordura).`,
        `O resultado de impedância obtido possibilita o cálculo do volume que há de água no organismo, sendo assim computados com boa 
        precisão a quantidade de massa magra (músculos) e tecido adiposo (gordura) contida no corpo.`,
        `Utiliza o conceito de “Wearable Device” (dispositivo vestível) para ser utilizado pelo usuário de forma contínua sem interferir 
        em suas atividades diárias, tornando-se parte de sua vestimenta. A leitura é feita por meio de 2 eletrodos adesivos fixados a pele.`,
        `Este equipamento foi projetado para ser carregado pelo usuário em um bolso, ou preso em alguma parte da vestimenta através de um 
        clip, por exemplo.`
      ],
      bullets: [
				'Equipamento portátil que mede 50mm x 50mm',
				'Bioimpedanciometria de tecidos',
				'Cartão de memória externo micro SD Card',
				'Bateria recarregável via porta Micro USB',
				'Comunicação bluetooth v4.2 ou USB para transferência dos dados armazenados no cartão'
			],
      tableHeaders: [ 'Especificação', 'Bioimpedância' ],
      tableRows: [
				[ 'Classe', 'Classe II' ],
        [ 'Proteção de Entrada', 'IPX0' ],
        [ 'Invasividade', 'Não invasivo' ],
        [ 'Modo de Operação', 'Contínua' ],
        [ 'Classificação por Parte Aplicada', 'Tipo CF' ],
        [ 'Tipo de Alimentação', 'Bateria 3,7V 900mAh' ],
        [ 'Consumo', '19mW' ],
        [ 'Autonomia de Bateria', '7 dias' ],
        [ 'RF Radiada (Bluetooth)', '2,4GHz +4dBm RF Power v4.2' ],
				[ 'Faixa de Temperatura Ambiente', '-40°C a 85°C' ]
			]
    }) %>
  </main>

  <footer class='footer'>
    <%- include('../components/contact') %>

    <%- include('../components/copyright', {
      logoSrc: '/img/maua-dark.png'
    }) %>
  </footer>

  <template>

  </template>

  <%- include('partials/scripts', { scriptFilename: 'product' } ) %>
</body>

</html>