<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include( 'partials/head', {
    pageTitle: 'Zeitgeber Store',
    stylesFilename: 'product'
  }) %>
</head>
<body>
  <header class="header">
    <%- include( '../components/logo', {
      ref: '/',
      src: '/img/t4p-light.svg',
      alt: 'Tech4People'
    }) %>

    <%- include( '../components/menu', {
      elements: [
        { ref: '#', content: 'Purchase' },
        { ref: '#description', content: 'Description' },
        { ref: '#contact', content: 'Contact' },
        { ref: 'https://t4p.com.br/tech4people', content: 'About Us' }
      ]
    }) %>
  </header>

  <main class="main">
    <%- include('../components/purchase') %>

    <%- include('../components/product_info', {
      id: 'description',
      title: 'Description',
      content: [
        `Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi velit unde molestias totam est at iure commodi corrupti
        animi ipsum nostrum voluptatibus debitis nulla, nobis soluta labore pariatur quod, ad molestiae. Quas assumenda qui optio quo 
        itaque voluptatum, sed enim, illum quis perferendis deserunt cupiditate voluptates fuga velit. Aspernatur officiis esse nemo 
        optio adipisci doloribus nam et ex harum voluptatem amet, excepturi modi sed ipsum exercitationem doloremque necessitatibus 
        aliquam dicta itaque ab. Sed voluptates ducimus facere nihil nulla excepturi.`
      ]        
      }) %>
    
  </main>

  <footer class="footer">
    <%- include('../components/contact') %>

    <%- include('../components/copyright') %>
  </footer>

  <%- include('partials/scripts', { scriptFilename: 'product' } ) %>
</body>
</html>