<div class="input__wrapper">
  <i class="<%= iconClass %> input__icon"></i>
  <input type="<%= type %>" name="<%= name %>" class="input" placeholder="<%= placeholder %>" value="<%= value %>" required />
</div>