<div class="options__wrapper">
    <h2 class="options__title"><%= title %></h2>
    <hr class="options__hr">
    <p class="purchase__description"><%= description %></p>
    <form action="/blabla" class="purchase__form">
        <% options.forEach( o => { %>
            <label class="options__option"><input type="checkbox" name="<%= o.checkboxName %>" value="<%= o.checkboxValue %>" class="options__input">
            <span class="options__checkbox"></span>
            <%= o.name %>
            <p class="options__subtext"><%= o.subtext %></p></label>
        <% }); %>
        <a class="purchase-send">Enviar</a>
    </form>
</div>