<section id="<%= id %>" class="description">
		 <div class="description--descript">
			<h3 class="description__title"><%= title %></h3>
			<%- include( 'divisor' ) %>
			<% content.forEach( c => { %>
				<p class="description__content"><%= c %></p>
			<% }) %>
	 
			<%- include('../components/bullets',{
				id: bullets.id,
				inParagraph: bullets.inParagraph,
				content: bullets.content
			}) %>
	
			<%- include('../components/table', {
				headers: table.headers,
				rows: table.rows
			}) %>
		 </div>
	</section>