<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( '../partials/head', {
    pageTitle: 'Zeitgeber Store',
    stylesFilename: 'entry'
  }) %>
</head>
<body>
  <header class="header">
    <%- include( '../partials/logo', {
      ref: '#',
      src: '/img/t4p-light.svg',
      alt: 'Tech4People'
    }) %>

    <%- include( '../partials/menu', {
      elements: [
        { ref: '#products', content: 'Products' },
        { ref: '#cloud', content: 'Cloud' },
        { ref: '#zeitgeber', content: 'Zeitgeber' },
        { ref: '#contact', content: 'Contact' },
        { ref: 'https://t4p.com.br/tech4people', content: 'About Us' }
      ]
    }) %>
  </header>

  <main class="main">
    <%- include( 'hero', { title: 'Zeitgeber: Your open source biosensing tools store', imgUrl: '/img/hero.jpg' } ) %>

    <%- include( 'products', {
      products: [
        { title: 'Bioimpedância', code: 'BIO 55', description: 'Equipamento portátil que mede 50mm x 50mm', imgUrl: '/img/pd-bioimp.jpg', productId: "1" },
        { title: 'Actígrafo', code: 'HORUS', description: 'Equipamento portátil que mede 50mm de diâmetro', imgUrl: '/img/pd-horus.jpg', productId: "2" },
        { title: 'EEG', code: 'EEG 57', description: 'Equipamento portátil que mede 50mm x 70mm', imgUrl: '/img/pd-eeg.jpg', productId: "3" },
        { title: 'Plataforma de Força', code: 'PLT 20', description: 'Estrutura mecânica em alumínio com formato triangular', imgUrl: '/img/pd-plataforma.jpg', productId: "4" },
        { title: 'Oxígrafo', code: 'OXI 70', description: 'Equipamento portátil que mede 70mm de diâmetro', imgUrl: '/img/pd-oxigrafo.jpg', productId: "5" },
        { title: 'NIRS', code: 'NIRS 77', description: 'Equipamento portátil que mede 70mm x 70mm', imgUrl: '/img/pd-nirs.jpg', productId: "6" },
        { title: 'Actígrafo Mini', code: 'HORUSm', description: 'Equipamento portátil que mede 25mm x 36mm', imgUrl: '/img/pd-horus.jpg', productId: "7" },
        { title: 'EEG mini', code: 'EEG 47', description: 'Equipamento portátil que mede 41mm x 70mm', imgUrl: '/img/pd-eeg.jpg', productId: "8" },
        { title: 'Actígrafo Wear', code: 'HORUSw', description: 'Equipamento portátil que mede 35mm x 40mm', imgUrl: '/img/pd-horus.jpg', productId: "9" }
      ]
    }) %>
  </main>

  <%- include( '../partials/ad', {
    id: 'cloud',
    imageSide: 'right',
    imageSrc: '/img/cloud.png',
    imageAlt: 'Cloud',
    title: 'Dados disponíveis na nuvem',
    content: [
      'Os dispositivos podem ser integrados com outros sistemas como computadores, smartphones e tablets, permitindo que os dados coletados sejam armazenados e processados posteriormente e até mesmo em tempo real. A conexão por bluetooth possibilita a transferência de dados a sistemas inteligentes dotados de algoritmos que processam e interagem com o usuário.',
      'Todos os equipamentos utilizam métodos de medição de sinais fisiológicos não-invasivos, ou seja, não envolvem instrumentos que rompem a pele ou que penetram fisicamente no corpo, portanto, não oferecem risco e desconforto no seu uso.'
    ],
    buttonRef: 'http://app.t4p.com.br',
    buttonTitle: 'Saiba Mais'
  }) %>

  <%- include( '../partials/slideshow', {
    images: [
      // { src: '/img/sss-01.jpg', alt: '', position: 'hide' },
      { src: '/img/sss-08.jpg', alt: '', position: 'hide' },
      { src: '/img/sss-02.jpg', alt: '', position: 'hide' },
      { src: '/img/sss-03.jpg', alt: '', position: 'left' },
      { src: '/img/sss-04.jpg', alt: '', position: 'middle' },
      { src: '/img/sss-05.jpg', alt: '', position: 'right' },
      { src: '/img/sss-06.jpg', alt: '', position: 'hide' },
      { src: '/img/sss-07.jpg', alt: '', position: 'hide'},
    ]
  }) %>

  <%- include( '../partials/ad', {
    id: 'zeitgeber',
    imageSide: 'left',
    imageSrc: '/img/zeitgeber.png',
    imageAlt: 'Zeitgeber',
    title: 'Quer conhecer seu modelo biomatemático?',
    content: [
      'Todo indivíduo possui uma espécie de relógio interno que ativa funções básicas de seu organismo. Se este relógio não estiver sincronizado com o relógio social, pode resultar em perda de qualidade de vida, desenvolvimento de doenças crônicas, má qualidade de sono e baixo desempenho em tarefas cotidianas.',
      'O atendimento ao relógio social sem a observância do relógio interno pode resultar em níveis de alerta incompatíveis com as atividades cotidianas. Sua manifestação na condução de um veículo de transporte de cargas ou trabalhadores por turno que atuam em diversas áreas (hospitais, industrias e empresas de segurança, por exemplo) aumenta o risco de acidentes.'
    ],
    buttonRef: 'http://dev.zeitgeber.com.br',
    buttonTitle: 'Saiba Mais'
  }) %>

  <footer class="footer">
    <%- include('../partials/contact') %>

    <%- include('../partials/copyright') %>
  </footer>

    <%- include('../partials/scripts', { scriptFilename: 'entry' } ) %>
</body>
</html>